/*
Filename : app.css
@author Aayushi Shah
@date June 22,2016
StudentID : 300874124
website : http://comp125-s2016-midterm-300874124.azurewebsites.net/
@description : This file is the main custom style sheet for this web site
*/


/* custom syle sheet */

.navbar {
    opacity: 0.8;
}

#MainTitle {
    font-size: 4em;
    color: #5690CF;
    padding-top: 1em
}

main {
    padding-top: 4.375em
}

article, section {
    font-size: 1.35em;
}